{{>_navbarADM}}
<div class="container">
    <h2 class="text-center">Adicionar postagem:</h2>
    <div class="card" style="padding: 20px;">
        {{#each erros}}
         <div class="alert alert-danger" role="alert">
            {{texto}}
        </div>
    {{else}}
    {{/each}}
        <form action="/admin/posts/new" method="POST">
        <label for="Title">Titulo:</label>
        <input type="text" name="Title" class="form-control" required>
        <label for="Slug">Slug:</label>
        <input type="text" name="Slug" class="form-control" required>
        <label for="Desc">Descrição:</label>
        <input type="text" name="Desc" class="form-control" required>
        <label for="Cont">Conteúdo:</label>
        <textarea type="text" name="Cont" class="form-control" required></textarea>
        <label for="cat">Categoria:</label>
        <br>
            <select name="cat" class="form-select" aria-label="Default select example">
                {{#each categorias}}
                    <option value="{{_id}}">{{nome}}</option>
                    {{else}}
                    <option value="0">Nenhuma categoria registrada</option>
                {{/each}}
            </select>
        <br>
        <div class="text-center">
            <button type="submit" class="btn btn-success">Adicionar</button>
        </div>
        </form>
    </div>
</div>