{{>_navbarADM}}
<div class="container">
    <div class="card animate__animated animate__fadeIn" style="padding:50px;">
      {{>_msg}}
        <div class="jumbotron animate__animated animate__zoomIn">
            <div class="container">
                <div style="margin: 15px auto 25px">
                    <h1 class="display-4">Seja bem-vindo ao Ctrl+C Diarium!</h1>

                </div>
                <p class="lead">Você está na página de Administrador!</p>
                <hr class="my-4">
                <p>Neste espaço, você terá a capacidade de monitorar e gerenciar comentários, removendo-os conforme necessário. Além disso, poderá publicar postagens e cadastrar novas categorias. Fique tranquilo, os comentários que foram reportados estarão listados abaixo para sua análise, permitindo que você os remova conforme sua preferência.</p>
            </div>
        </div>
    </div>
    <hr class="animate__animated animate__zoomIn">
    <h1 class="animate__animated animate__zoomIn display-4" style="font-size: xxx-large;">
        Comentários reportados:
    </h1>
    {{#each reportado}}
    <hr class="animate__animated animate__zoomIn">
    <div class="card nimate__animated animate__zoomIn" style="padding:25px; margin:10px 0 10px">
        <p style="color:rgb(175, 0, 0)">Reportado {{this.NumerosReports}} vezes</p>
        <b>Reportado por:</b><p>{{this.UserReport.[0].nome}}</p>
        <hr>
        <p>{{this.Comentario.conteudo}}</p>
        <div style="text-align:left; margin:15px 0 10px">
            <form action="/admin/delCommentIndex/{{this._id}}" method="post">
                <button class="btn btn-danger" type="submit" style="color:#fff;">Excluir</button>
            </form>
        </div>
        <a href="/categorias/postCompleto/{{this.Postagem._id}}">Ver postagem e comentários</a>
    </div>
    {{else}}
    <h5 class="animate__animated animate__zoomIn">Não há comentários reportados!</h5>
    {{/each}}

</div>
