{{>_navbarADM}}

<div class="container">
    <div class="card animate__animated animate__fadeIn" style="padding:50px;">
      {{>_msg}}
        <div class="jumbotron animate__animated animate__zoomIn">
            <div class="container">
                <div style="margin: 15px auto 25px">
                    <h1 class="display-4">Seja bem-vindo ao Ctrl+C Diarium!</h1>
                </div>
                <p class="lead">Você encontrou o blog feito de dev para devs, com o intuito de debater tópicos da tecnologia.</p>
                <hr class="my-4">
                <p>O Ctrl+C Diarium é o lugar perfeito para explorar as últimas tendências tecnológicas, aprender novas habilidades de programação e se manter atualizado com o mundo da computação.</p>
                <p>Nosso time de desenvolvedores apaixonados compartilha insights, tutoriais práticos e experiências do mundo real para ajudar você a aprimorar suas habilidades de programação e se manter inspirado.</p>
                <p>Explore nosso conteúdo diversificado que abrange desde linguagens de programação populares até as últimas inovações em desenvolvimento web e mobile.</p>
                <hr>
                <div id="search-container" class="text-center">
                  <h1 class="display-4" style="font-size: xx-large; margin:0px auto 25px">Tire suas dúvidas sobre tecnologia:</h1>
                  <input type="text" id="search-input" placeholder="Digite sua pergunta">
                  <br></br>
                  <button class="btn btn-primary" onclick="search()">Pesquisar</button>
                </div>
                <div id="results-container">
                  <!-- Aqui serão exibidos os resultados da pesquisa -->
                </div>
                {{#if user}}
                {{else}}
                <a href="/usuarios/login">Faça login</a>
                {{/if}}
            </div>
        </div>
    </div>
    <hr class="animate__animated animate__zoomIn">
    <h1 class="animate__animated animate__zoomIn" style="font-size: xxx-large;">
        Posts recentes:
    </h1>
    <div class="card-columns animate__animated animate__fadeIn">
    {{#each postagens}}
      <div class="card animate__animated animate__zoomIn" style="margin: 10px 0 50px;">
        <div class="card-body">
          <h5 class="card-title">{{titulo}}</h5>
          <p class="card-text">{{descricao}}</p>
          <div class="text-center">
            <h5><strong>{{slug}}</strong></h5>
          </div>
          <hr>
          <h4>Conteúdo:</h4>
          <a href="/categorias/postCompleto/{{_id}}">Ler conteúdo</a>
          <hr>
          <p><h4>Categoria:</h4><strong>{{categoria.nome}}</strong></p>
        </div>
      </div>
      {{else}}
      <h5>Nenhuma postagem</h5>
    {{/each}}
  </div>

</div>
<script>

</script>