{{>_navbarADM}}
<div class="container">

{{>_msg}}

    <div class="card-columns">
        <h3 class="display-6"><b>{{categoria.nome}}</b></h3>
        <hr>
    <h6 class="display-6">Posts:</h6>
    {{#each postagens}}
      <div class="card" style="margin: 10px 0 50px;">
        <div class="card-body">
          <h5 class="card-title">{{titulo}}</h5>
          <p class="card-text">{{descricao}}</p>
          <div class="text-center">
            <h6>{{slug}}</h6>
          </div>
          <hr>
          <h4>Conteúdo:</h4>
          <a href="/categorias/postCompleto/{{_id}}">Leia mais</a>
        </div>
      </div>
      {{else}}
      <h5>Nenhuma postagem</h5>
    {{/each}}
  </div>
</div>